# os
.DS_Store

# c
langs/c/run

# csharp
langs/csharp/bin
langs/csharp/obj

# golang
langs/go/part*.go
langs/go/helpers.go

# java
langs/java/*.class

# javascript
langs/javascript/node_modules/

# rust
langs/rust/src/part*.rs
langs/rust/src/helpers.rs
langs/rust/target
langs/rust/Cargo.lock